#education {
    background-color: #fdfdfd;
    display: flex;
    padding: 60px 0;
    width: 100%;
}

.education-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 35px;
    text-transform: uppercase;
    color: #1c1c1c;
}

.education-description {
    color: #727272;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 48px;
}

.education-outer-container {
    border-radius: 2px;
    display: inline;
    margin-top: 8px;
    margin-bottom: 16px;
    padding-left: 0 !important;
}

.education-container {
    padding: 36px 16px !important;
}

.row {
    margin-bottom: 64px;
}

.education-container-timespan {
    color: #888;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 4px;
    margin-top: 4px;
}

.education-container-title {
    color: #2b2b3d;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 4px;
    margin-top: 4px;
}

.education-container-business {
    color: #2b2b3d;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 4px;
    margin-top: 4px;
}

.education-container-business-location {
    color: #3d3d50;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
    margin-top: 4px;
}