#skills {
    background-color: #ffffff;
    display: flex;
    padding: 80px 0 120px;
    width: 100%;
}

.skills-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 35px;
    text-transform: uppercase;
    color: #1c1c1c;
}

#skills-description {
    color: #727272;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}

.skill-logos {
    height: 32px;
    margin-right: 16px;
    margin-bottom: 8px;
}

.skills-logos-container {
    margin-bottom: 24px;
}
